*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: sans-serif;
}

header{
    background-color: rgb(0,132,253);
    display: flex;
    justify-content: center;
}

nav{
    height: 4rem;
    width: 100%;
    max-width: 1300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul{
    display: flex;
    align-items: center;
    list-style: none;
}

 ul li a{
    margin-inline:25px ;
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.list-top li button{
    padding: 10px;
    border: none;
    border-radius: 30px;
    margin-inline:20px ;
}

.hamburger{
    display: none;
    color: white;
    margin-right: 30px;
}

/* app download */

.app-download{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.container-card{
    max-width: 1300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card{
    background-color: rgb(181,221,255);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card i{
    font-size: 70px;
    text-align: center;
    padding: 30px;
    color:rgb(0,132,253);
}

.card h2{
    color: rgb(0,132,253);
}

.card p{
    padding: 25px;
    text-align: center;
}

.card-big{
    display: flex;
    background-color: rgb(181,221,255);
    border-radius: 20px;
}

.card-big-left{
    padding: 20px;
    font-size: 18px;

}

.card-big-left h2{
    color:rgb(0,132,253) ;
}

.card-big-left button{
    background-color:rgb(0,132,253);
    border: none;
    border-radius: 20px;
    color: white;
    padding: 10px 45px;
    font-size: 18px;
}

.card-big-left p{
    margin: 25px 0 25px;
    color:rgb(94, 94, 94) ;
}

.card-big img{
    height: 300px;
    width: 300px;
    /* min-width: 0; */
    /* flex: 0 0 50%; */
}

.cell{
    padding: 10px;
    display: flex;
    width: 33.333%;
}

.cell-big{
    width: 66.666%;
    padding: 10px;
}

/* planning section */
.violet-img{
    background-color:rgb(151,146,228) ;
    margin-top: 60px;
    display: flex;
    justify-content: center;
}

.planning-container{
    display: flex;
    justify-content: center;
    max-width: 1000px;
    column-gap: 3em ;
    margin-bottom: 50px;
}

.planning-left{
    color: white;
    width: 50%;
    margin-top: 70px;
}

.planning-left img{
    margin-bottom: 3em;
    max-width: 100%;
}

.planning-left h3{
    font-size: 30px;
    margin: 30px 0;
}

.planning-right{
    background-color: white;
    align-self: flex-end;
    border-radius: 50px;
    text-align: center;
     width: 40%;
     padding: 30px;
}

.planning-right img{
    max-width: 100%;
}

.planning-right p{
    font-style: italic;
    margin-top: 20px;
}

.arrow i{
    width: 50px;
    height: 50px;
    background-color: rgb(151,146,228);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:20px ;
}

/* partner */
.partners{
    max-width: 1300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
}

.partners span{
    margin: 30px;
}

.partners h2{
    color: rgb(151,146,228) ;
    font-size: 40px;
}

.partners p{
    margin: 30px;
    font-size: 20px;
    text-align: center
    ;
}

.container-row{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.row{
    display: flex;
    align-items: center;
    background-color: rgb(151,146,228);
    border-radius: 30px;
}

.row-img{
    width: 35%;
    overflow: hidden;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
}

.row-img img{
    max-width: 100%;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    object-fit: cover;
}

.row-text{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 18px;
}

.row-text span{
    margin-top: 20px;
    font-weight: 800;
    margin-left: 57px;
}

/* benefit */
.benefit{
    background-color:rgb(151,146,228);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.benefit h2{
    color: white;
    padding: 30px;
    font-size: 55px;
}

.benefit-container{
    max-width: 1300px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.cell-benefit{
    padding: 20px;
    display: flex;
    width: calc( 100% / 3 )
}

.benefit-card{
    background-color: white;
    border-radius: 30px;
    padding: 30px;
}

.benefit-purple{
    color:rgb(151,146,228);
}

.benefit-card span{
    font-size: 60px;
    font-weight: 900;
}

.benefit-card h3{
    font-size: 20px;
    font-weight: 900;
    margin: 10px 0;
}

.benefit-card p{
    margin: 50px 0;
    line-height: 25px;
}

.benefit-btn{
    background-color: rgb(151,146,228);
    border: none;
    color: white;
    padding: 10px 50px;
    border-radius:30px ;
}

/* about us */
.about-us{
    display: flex;
    max-width: 1300px;
    margin: auto;
    justify-content: space-around
    margin-top: 60px;
}

.about-left{
    flex: 0 0 60%;
}

.about-left p{
    padding-right:100px ;
    margin-top: 50px;
    line-height: 25px;
    margin-bottom:70px ;
}

.about-left h2{
    color:rgb(151,146,228);
    font-size: 50px;
    padding:60px 0;
}

.about-right{
    flex: 0 0 20%;
}

.container-img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}

.container-img img{
  max-width: 100%;
}

.about-right p{
    margin: 30px 0;
    font-size: 25px;
    color: rgb(151,146,228);
    font-weight: 700;
    line-height: 30px;
}

.about-right button{
    background-color:rgb(151,146,228) ;
    color: white;
    padding: 8px 24px;
    border: none;
    border-radius: 30px;
}

.about-quote{
    color:rgb(151,146,228) ;
    font-size: 80px;
    top: 65px;
    position: relative;
    left: 140px;
}

/* get started */
.get-started{
    background-color:rgb(151,146,228) ;
}

.container-started{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 40px 0px;
    color: white;
    max-width: 500px;
    text-align: center;
}

.get-started h2{
    font-size: 30px;
    margin: 20px 0;
}

.yellow{
    color: rgb(231, 196, 37);
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 20px;
}

.container-started p{
    margin-bottom: 20px;
}

.container-started button{
    color:rgb(151,146,228) ;
    padding: 20px 50px;
    font-size: 20px;
    border: none;
    border-radius: 30px;
    margin-bottom: 30px;
}

.container-started a{
    color: white;
}

/* footer */
footer{
    background-color: rgb(51,51,51);
    color: white;
    text-align: center;
}

.content-foot{
    max-width:500px ;
    margin: auto;
}

.foot-top,.foot-bottom{
    padding: 30px 0;
}

.foot-bottom a{
    color:rgb(151,146,228) ;
}

/* media query */
@media (max-width: 1010px){
    .list-top{
        display: none;
    }

    .hamburger{
        display: block;
    }

    .card-big{
        flex-direction: column;
    }

    .planning-container{
        flex-direction: column;
        align-items: center;
    }

    .planning-left{
        width: 80%;
        margin-bottom: 50px;
    }

    .planning-right{
        align-self: center;
        width: 90%;
        margin-inline: 20px;
    }

    .cell-benefit{
        width: calc( 100% / 2 );
    }

    .benefit h2{
        text-align: center;
    }

}

@media (max-width: 600px) {
    .container-card{
        flex-direction: column;
    }

    .cell-big{
        width: 100%;
    }

    .cell{
        width: 100%;
    }

    .card-big-left{
        text-align: center;
    }

    .card-big{
        align-items: center;
    }

    .partners h2{
        text-align: center;
    }

    .row{
        flex-direction: column;
    }

    .row-text span{
        text-align: center;
        margin-left: 0;
    }

    .cell-benefit{
        width: calc( 100% / 1 );
    }

    .benefit-card{
        text-align: start;
    }

    .about-us{
        flex-direction: column;
        padding: 20px;
    }

    .about-right{
        margin-bottom: 50px;
    }

    .get-started h2 {
        text-align: center;
    }
}